@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* group btn */
.btn {
    @apply border rounded-xl px-2 
    dark:text-orange-500 space-y-0.5 
    dark:hover:bg-orange-300 hover:text-white focus:outline-none 
    focus:ring-2 
    focus:ring-offset-2

}

.btn-purple {
    @apply 
    focus:ring-purple-600 text-purple-500;
    hover:bg-purple-500 ;
}
.btn-green {
    @apply
    px-2 py-2 
    focus:ring-green-600 text-green-500;
    hover:bg-green-500;

    @apply p-5
}
}

@layer base {
     h1 {
        @apply text-xl
    }
}

@layer utilities {
    .myWish{
        @apply text-orange-500
    }
}
@variants hover {
    .myWishs {
        @apply text-orange-400
    }
}

